body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#startScreen {
    text-align: center;
}

#startButton {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#gameCanvas {
    border: 1px solid white;
    width: 100%;
    max-width: 400px;
    height: auto;
}